<ion-header>
  <ion-toolbar>
    <ion-title>Cursos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">

  <img src="assets/icon/cursos.jpg.png" alt="some text" width=500 height=300>
  <h1>Cursos Gratuitos Senac</h1>
  <h6>*Tecnico em Informatica</h6>
  <h6>*Tecnico em Enfermagem</h6>
  <h6>*Tecnico em Estetica</h6>
  <h6>*Tecnico em Administração</h6>
  <h1>Cursos Gratuitos Sesc</h1>
  <h6>*Tecnico em Assistente de Logística</h6>
  <h6>*Tecnico em Assistente Financeiro</h6>
  <h6>*Cabeleireiro</h6>
  <h6>*Depilação</h6>
  <h6>*Design de Sobrancelhas</h6>
  <h1>Cursos Gratuitos Sest Senat</h1>
  <h6>*Formação de Garçom</h6>
  <h6>*Fotografia</h6>
  <h6>*Gestão de Vendas </h6>
  <h6>*Jardinagem</h6>
  <h6>*Introdução ao Paisagismo</h6>
  <h6>*Locutor, Animador e Apresentador</h6>
  <h6>*Manicure e Pedicure</h6>
  <h6>*Maquiador</h6>
  <h6>*Operador de Áudio</h6>
  <h6>*Operador de Câmera</h6>

 


</ion-content>
