<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Comunidade do conhecimento
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-title>Bem vindo ao CDS</ion-card-title>
        <ion-card-subtitle>Aqui é o local para conhecer mais</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>Este é uma aplicativo voltado para a divulgação de cursos gratuitos e eventos culturais  </p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="cursos">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Cursos</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Debates</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Paletras</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Apresentações</ion-label>
      </ion-item>
        <ion-item href="https://ionicframework.com/docs/theming/basics">
          <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
          <ion-label>Quem somos</ion-label>
        </ion-item>
      </ion-list>
</ion-content>
