.welcome-card img {
  max-height: 350vh;
  max-width: 250vh;
  overflow: hidden;
}
/*ion-content{
  background-image:
   "../../assets/gadriente.jpg";
}*/


ion-content.fundo{
  --background: url(../../assets/gadriente.jpg) 0 0/100% 100% no-repeat;}

ion-card-header{
  background: #B0C4DE;
  
}
ion-card-content {
  height:95px
  
}
ion-card-content p{
  color:black;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;

}

ion-list ion-list-header{
  background: #B0C4DE;
}

ion-header ion-toolbar ion-title {
  background:#B0C4DE;
}

ion-card-subtitle h6{
  color: white;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

ion-card-title h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: 223c73
 }
ion-header ion-toolbar ion-title{
    height: 55px;
    width: 4000px;
    background:#B0C4DE;
  }
